* {
  box-sizing: border-box;
}

.image {
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #FF5722;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
header h1 span {
  font-size: 12px;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: #FF5722;
  position: fixed;
  bottom: 0;
  left: 0;
}

main .yesorno_s1, main .yesorno_s2, main .yesorno_s3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  font-size: 300px;
  color: black;
  opacity: 0.5;
  margin: 0 auto;
  text-align: center;
}
main .yesorno_s1 h2, main .yesorno_s2 h2, main .yesorno_s3 h2 {
  color: black;
  font-size: 0.2em;
  opacity: 1;
}
main .yesorno_s1 .btn.q, main .yesorno_s2 .btn.q, main .yesorno_s3 .btn.q {
  width: 5%;
  cursor: pointer;
  border-radius: 0;
}
main .yesorno_s1 .btn-text, main .yesorno_s2 .btn-text, main .yesorno_s3 .btn-text {
  font-size: 30px;
}
main .yesorno_s1 .yes, main .yesorno_s2 .yes, main .yesorno_s3 .yes {
  display: none;
}
main .yesorno_s1 .yes.on, main .yesorno_s2 .yes.on, main .yesorno_s3 .yes.on {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: black;
  font-size: 1.5rem;
  opacity: 1;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 246, 246);
}
main .yesorno_s1 .yes.on a, main .yesorno_s2 .yes.on a, main .yesorno_s3 .yes.on a {
  width: 50%;
  height: 50%;
  cursor: pointer;
}
main .yesorno_s1 .yes.on a img, main .yesorno_s2 .yes.on a img, main .yesorno_s3 .yes.on a img {
  width: auto;
  height: 100%;
}
main .yesorno_s1 .no, main .yesorno_s2 .no, main .yesorno_s3 .no {
  display: none;
}
main .yesorno_s1 .no.on, main .yesorno_s2 .no.on, main .yesorno_s3 .no.on {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
  background-color: rgba(246, 246, 246, 0.8);
  width: 100%;
  height: 100%;
}
main .yesorno_s1 .no.on .neru, main .yesorno_s2 .no.on .neru, main .yesorno_s3 .no.on .neru {
  width: auto;
  height: 50%;
}
main .yesorno_s1 .no.on a, main .yesorno_s2 .no.on a, main .yesorno_s3 .no.on a {
  display: block;
  margin: 10px;
  background-color: #FFC107;
  padding: 10px 15px;
  border-radius: 25%;
  width: 100px;
  box-shadow: 5px 8px;
  cursor: pointer;
}
main .yesorno_s1 .maybe, main .yesorno_s2 .maybe, main .yesorno_s3 .maybe {
  display: none;
}
main .yesorno_s1 .maybe.on, main .yesorno_s2 .maybe.on, main .yesorno_s3 .maybe.on {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
  background-color: rgba(246, 246, 246, 0.8);
  width: 100%;
  height: 100%;
}
main .yesorno_s1 .maybe.on a, main .yesorno_s2 .maybe.on a, main .yesorno_s3 .maybe.on a {
  display: block;
  margin: 10px;
  background-color: #FFC107;
  padding: 10px 15px;
  border-radius: 25%;
  width: 100px;
  box-shadow: 5px 8px;
  cursor: pointer;
}
main section {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .main_center {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
}
main section .main_center .btn-s1, main section .main_center .btn-s2, main section .main_center .btn-s3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main section .main_center .btn-s1 img, main section .main_center .btn-s2 img, main section .main_center .btn-s3 img {
  width: 6%;
  height: auto;
  cursor: pointer;
  padding: 1%;
  margin: 1%;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(203, 203, 203);
}
main section .main_center .btn-s1 span, main section .main_center .btn-s2 span, main section .main_center .btn-s3 span {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
main section .main_left {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 90%;
  padding: 10vh 0;
}
main section .main_left h2 {
  font-size: 2em;
}
main section .main_left div {
  font-size: 2em;
}
main section .main_left div span {
  font-size: 1.5em;
}
main #s2 .main_left {
  background-color: #f3f2f2;
  border-radius: 25px;
  padding: auto 10px;
}

.maybe {
  width: 100vw;
  height: 100vh;
  color: rgb(217, 195, 87);
  z-index: 10;
}
.maybe .mtext {
  position: absolute;
  white-space: nowrap;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
  text-align: center;
  margin: 0 auto;
}
.maybe .mtext h1 {
  animation: flowing-anim 5s 1;
  overflow: hidden;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}
@keyframes flowing-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.maybe .subtext {
  position: absolute;
  white-space: nowrap;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
  text-align: center;
  margin: 0 auto;
}
.maybe .subtext .sub_flow {
  width: 0;
  overflow: hidden;
  font-size: 1.5rem;
  animation: flowing-anim 5s forwards 1;
  animation-delay: 3s;
}
.maybe .subtext .sub_flow:nth-child(2) {
  overflow: hidden;
  animation-delay: 6s;
}
.maybe .footer {
  position: absolute;
  bottom: -50px;
  right: 50px;
  font-size: 1.2rem;
  animation: bound-anim 1s infinite;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
@keyframes bound-anim {
  0%, 100% {
    bottom: 15%;
  }
  30%, 60% {
    bottom: 10%;
  }
}/*# sourceMappingURL=style.css.map */